VITE_TENANT_SERVICE_URL=http://localhost:8004
VITE_TENANT_SERVICE_TOKEN=choose_a_different_random_secret_string_heretenant

VITE_ORCHESTRATOR_URL=ws://localhost:8001/ws/call
VITE_ORCHESTRATOR_TOKEN=tokenizertokenoooktoken
